body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}

.app {
  padding: 20px;
  font-size: 24px;
}

.calc-container {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
}
.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}

.calc-buttons button {
  font-size: 18px;
  padding: 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.number-btn {
  background-color: #e0e0e0;
}

.operation-btn {
  background-color: #ff9500;
  color: #fff;
}

.secondary-btn {
  background-color: #c7c7c7;
}

#zero-button {
  grid-column: span 2;
}

.calc-display {
  font-size: 32px;
  text-align: right;
  border: 2px solid #000;
  border-radius: 5px;
  padding-bottom: 10px;
  background-color: #f0f0f0;
}

.calc-expression {
  height: 30px;
  font-size: 16px;
  text-align: right;
  border: none;
  background-color: transparent;
}

.calc-value {
  height: 30px;
  font-size: 32px;
  text-align: right;
  border: none;
  background-color: transparent;
}
